<!-- <mat-toolbar color="warn">
  <div class="flex items-center">
    <img src="../assets/images/quarry.png" style="width: 70px; height: 70px" />
  </div>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/about">Categories</button>
  <button mat-button routerLink="/about">Products</button>
  <button mat-button routerLink="/about">Stores</button>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
   
    <button mat-menu-item>Account</button>
   
    <button mat-menu-item>Logout</button>
   
  </mat-menu>
</mat-toolbar> -->

<app-navbar></app-navbar>


  <!-- <router-outlet></router-outlet> -->

