.example-spacer {
    flex: 1 1 auto;
  }
.active-tab{
    background-color: red;
    color: white;
} 
.inactive-tab{
    background-color: gray;
    color: white;
} 
.centre{
    text-align: center;
}
.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; This centers the content vertically in the viewport. You can adjust the height as needed. */
  }
  .my-button {
    color: white;
    background-color: red; /* Background color when active */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .my-button.active-tab {
    background-color: red; /* Background color when active */
    color: white;
  }
  
  .my-button.inactive-tab {
    background-color: gray; /* Background color when inactive */
    color: white;
  }
body {
    background-color: rgb(212, 211, 211);
    margin: 0;
    padding: 0;
  }